*{
    box-sizing: border-box;
    padding: auto;
    margin: 0;
}
.picture{
    position: fixed;
}
.box{
    display: flex;
    justify-content: space-between;

    
}
.boxer{
    position: absolute;
    right: 200px;
}
.box h1{
    margin-top: 20px;
}
.box p{
    margin-top: 100px;
    font-size: large;
}
body{
    padding: 30px;
    background-color: rgb(129, 129, 240);
    
}
.button{
    margin-left: 200px;
    margin-top:70px ;

}